<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>curEx</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    </head>
    <body> <br><br><br><br>
        <div class="container" style="width: 500px;">
            <h1>💷 curEx</h1>
            <div style="display: flex; flex-direction: column; row-gap: 1rem; align-items: center; width: 300px; margin: 0 auto;">
                <a class="btn" href="http://localhost:5000/viewCurrency">Currency View Form</a> 
                <a class="btn" href="http://localhost:5000/searchCurrency" >Currency Search Form</a> 
                <a class="btn" href="http://localhost:5000/convertCurrency" >Currency Conversion</a> 
                <a class="btn" href="http://localhost:5000/viewProfile" >View Profile</a> 
                <a class="btn" href="http://localhost:5000/currencyLogin">Logout</a>
            </div>
            <br><br>
            
            
            
            
        </div>
    </body>
    </html>